/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.button{
    -fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);
    -fx-background-radius: 15 15 15 15;
    -fx-background-insets: 2 2 2 2 ;
    
   -fx-border-width: 52;
  -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
  -fx-background-color: slateblue; -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: derive(CC99CC, -20%);
    -fx-border-radius: 30;
  
} 



.text-field{
    -fx-background-color:  FFCC33;
    -fx-font-weight: bold;
}
 
   
.background {
    -fx-background-color:#DDDDDD;
}







